* {
  padding: 0;
  margin: 0; }

body {
  width: 100%;
  background-color: #fff;
  text-align: center; }

.top-nav {
  width: 100%; }
  .top-nav .navbar {
    background-color: #fff;
    box-shadow: 0px 0px 5px #ccc; }
  .top-nav ul {
    float: left; }
  .top-nav li {
    text-align: left;
    margin-left: 20px; }
  .top-nav a {
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.5px;
    word-spacing: 1px; }
  .top-nav button.navbar-toggler:focus, .top-nav button.navbar-toggler:hover {
    outline: inherit; }

.navbar-toggler-icon .fa {
  padding-top: 5px !important; }

.header img {
  width: 100%;
  height: 650px; }

.intro {
  margin-top: 120px; }
  .intro .intro-img-sec {
    width: 550px;
    height: 500px; }
  .intro img {
    width: 100%;
    height: 100%;
    position: relative;
    top: 78px; }
  .intro .intro-img-sec,
  .intro .intro-heading {
    margin: 30px 0px; }
  .intro .intro-heading h1 {
    font-size: 24px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    text-transform: capitalize; }
  .intro .intro-heading p {
    color: #ccc;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    font-size: 12px;
    font-family: "Poppins", sans-serif; }
  .intro .intro-heading span {
    font-size: 30px;
    color: #3498db; }
  .intro .detail p {
    margin-top: 10px;
    padding: 10px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    line-height: 25px;
    font-size: 13px; }
  .intro .detail a {
    padding: 10px 30px;
    box-shadow: -3px 3px 5px #ccc;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    border-radius: 2px;
    font-weight: 600; }
    .intro .detail a:hover {
      box-shadow: none;
      font-weight: normal; }
  .intro .features ul {
    float: left; }
  .intro .features li {
    list-style-type: none; }
  .intro .features span {
    float: left;
    margin-left: 15px;
    padding: 10px 20px; }
  .intro .features p {
    text-align: left; }

.offer {
  margin-top: 50px;
  background-color: #f5f7fa; }
  .offer h3 {
    letter-spacing: 0.5px;
    word-spacing: 1px;
    padding-top: 60px;
    text-transform: capitalize; }
  .offer p {
    letter-spacing: 0.5px;
    word-spacing: 1px;
    font-size: 13px; }
  .offer .offer-details {
    margin-top: 80px; }
  .offer .row {
    margin: 80px 0px;
    padding-bottom: 50px; }
  .offer .image-container {
    width: 570px;
    height: 300px; }
    .offer .image-container img {
      width: 100%;
      height: 100%; }

.choose .choose-header {
  margin: 60px 0px 60px 0px; }
  .choose .choose-header h3 {
    letter-spacing: 0.5px;
    word-spacing: 1px;
    text-transform: capitalize; }
  .choose .choose-header p {
    letter-spacing: 0.5px;
    word-spacing: 1px;
    font-size: 13px; }
.choose .flat-icon {
  width: 100px;
  height: 100px;
  margin: 80px auto 0px auto;
  font-size: 25px;
  border-radius: 50%;
  box-shadow: -8px 8px 20px 0px #ccc;
  padding-top: 9%;
  color: #fff;
  background-color: #4fc1e9; }
.choose .choose-detail p {
  letter-spacing: 0.5px;
  word-spacing: 1px;
  font-size: 13px;
  padding: 20px 10px; }

.service {
  margin: 100px 0px 0px 0px;
  background-color: #e6e9ed;
  width: 100%;
  height: 1020px; }
  .service h2 {
    padding-top: 60px;
    letter-spacing: 0.5px;
    text-transform: capitalize; }
  .service p {
    letter-spacing: 0.3px;
    word-spacing: 1px;
    font-size: 13px;
    margin-bottom: 100px; }
  .service .service-container {
    position: relative;
    width: 100%;
    height: 350px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 5px; }
  .service .image {
    display: block;
    width: 100%;
    height: 100%; }
  .service #overlay1,
  .service #overlay2,
  .service #overlay3,
  .service #overlay4 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.8); }
  .service .service-container:hover #overlay1 {
    opacity: 1; }
  .service .service-container:hover #overlay2 {
    opacity: 1; }
  .service .service-container:hover #overlay3 {
    opacity: 1; }
  .service .service-container:hover #overlay4 {
    opacity: 1; }
  .service #text1,
  .service #text2,
  .service #text3,
  .service #text4 {
    color: white;
    font-size: 28px;
    text-transform: capitalize;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); }

.consult h2 {
  margin-top: 100px;
  letter-spacing: 0.5px;
  text-transform: capitalize; }
.consult p {
  letter-spacing: 0.3px;
  word-spacing: 1px;
  font-size: 13px;
  margin-bottom: 100px; }
.consult .consult-container {
  position: relative;
  width: 100%;
  height: 450px; }
.consult .image {
  display: block;
  width: 100%;
  height: 100%;
  box-shadow: -6px 6px 20px #ccc;
  border-radius: 2px; }
.consult .overlay {
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease; }
.consult .consult-container:hover .overlay {
  height: 100%; }
.consult .text {
  white-space: nowrap;
  color: #fff;
  font-size: 28px;
  text-transform: capitalize;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

.blog {
  margin: 100px 0px;
  background-color: #f7f7f7; }
  .blog h2 {
    margin-top: 50px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    font-size: 25px;
    text-transform: capitalize; }
  .blog p {
    font-size: 12px;
    letter-spacing: 0.3px;
    word-spacing: 1px; }
  .blog .blog-container li {
    display: inline-block;
    float: left;
    list-style-type: none; }
  .blog .blog-container a {
    text-decoration: none; }
  .blog .blog-container h3 {
    font-size: 15px;
    letter-spacing: 0.5px;
    word-spacing: 1px; }
  .blog .img-container {
    border: 1px solid black;
    margin-top: 50px;
    margin-left: 12px;
    width: 355px;
    height: 300px; }
    .blog .img-container img {
      width: 100%;
      height: 100%; }
  .blog a {
    text-transform: capitalize; }

.footer {
  color: #000;
  font-weight: 600;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  font-size: 13px;
  padding-bottom: 8px; }

/*# sourceMappingURL=style.css.map */
