// variables
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Poppins', sans-serif;

$primary-color: #2980b9;
$secondary-color: #f1c40f;
// custom css

*{
  padding: 0;
  margin: 0;
}
body{
  width: 100%;
  background-color: #fff;
  text-align: center;
}

// Navigation

.top-nav{
  width: 100%;
  .navbar{
    width: 100%;
    background-color:#fff;
    box-shadow: 0px 0px 5px #ccc;
  }
  ul{
    float: left;
  }
  li{
     text-align: left;
     margin-left: 20px;
  }
  a{
    letter-spacing: 0.3px;
    word-spacing: 1px;
    color:#2c3e50;
    font-family: $primary-font;
    text-transform:uppercase;
  }
  button.navbar-toggler:focus, button.navbar-toggler:hover{
    outline: inherit;
  }
}
.navbar-toggler-icon{
 .fa{
  padding-top: 5px !important;
   }
}
