

<!--subscribe-section -->

<div class="sub">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<!-- Begin MailChimp Signup Form -->

<div id="mc_embed_signup">
<form action="//ebon.us16.list-manage.com/subscribe/post?u=81696a126f487bba7e2fd8c88&amp;id=4fa1478a5f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Subscribe to get latest updates</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_81696a126f487bba7e2fd8c88_4fa1478a5f" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
			</div>
		</div>
	</div>
 </div>	 


<!-- footer -->

<div class="footer-credit">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6">
				<div class="primary-col">
					<h3>about us</h3>
					 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt harum maxime, esse iusto libero at non quas vel consequatur deserunt recusandae culpa ducimus architecto repellendus explicabo quae! Cupiditate, voluptas, nulla.</p>
					 <h3>questions?</h3>
					 <div class="inner-container">
					    <div class="col-1">
					    <span>
					 	<i class="fa fa-phone"></i>
					 	</span>
					 	<p>(+91)12345-67890</p>
					    </div>
					     <div class="col-2">
					    <span>
					 	<i class="fa fa-envelope"></i>
					 	</span>
					 	<p> support@ebonx.com</p>
					    </div>
					 </div>
					 <div class="social-links">
					 	<ul>
					 		<li>
					 			<a href=""><i class="fa fa-facebook"></i></a>
					 		</li>
					 		<li>
					 			<a href=""><i class="fa fa-twitter"></i></a>
					 		</li>
					 		<li>
					 			<a href=""><i class="fa fa-google-plus"></i></a>
					 		</li>
					 		<li>
					 			<a href=""><i class="fa fa-instagram"></i></a>
					 		</li>
					 		<li>
					 			<a href=""><i class="fa fa-linkedin"></i></a>
					 		</li>
					 		<li>
					 			<a href=""><i class="fa fa-pinterst"></i></a>
					 		</li>
					 	</ul>
					 </div>
				</div>
			</div>
			<div class="col-lg-6">
				
				 <div class="secondary-col">
				<!-- inside-container -->
				<div class="row">
					<div class="col-lg-6">
					     <div class="col-1">
					     	<h3>consultancy</h3>
					     	<div class="inner-container">
								<ul>
									<li>
								     <a href="">carrer</a>
									</li>
									<li>
									 <a href="">business</a>	
									</li>
									<li>
									 <a href="">life</a>	
									</li>
								</ul>
							</div>
					     </div>
					</div>
					<div class="col-lg-6">
						<div class="col-2">
							<h3>services</h3>
							<div class="inner-container">
								<ul>
									<li>
								     <a href="">student</a>
									</li>
									<li>
									 <a href="">professional</a>	
									</li>
									<li>
									 <a href="">businessman</a>	
									</li>
									<li>
									  <a href="">employee</a>	
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			   </div>
			</div>
		</div>
	</div>
</div>
