<!-- footer -->

<!-- partner-section -->
<div class="partner">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="text">
					<a href="">partner with us</a>
				</div>
			</div>
			<div class="col-lg-4">
				<a href="">refer and earn</a>
			</div>
		</div>
	</div>
</div>




<!-- copyright-section -->
<div class="footer" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <hr>
        copyright &copy; 2017 Ebon. All Rights Reserved.
      </div>
    </div>
  </div>
</div>
