


<!-- footer -->

<div class="footer-credit">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6">

				<div class="primary-col">
					<h3>about us</h3>
					 <p id="para-1">EbonNow is an extensive outsource company and Our main mission is to consistently deliver trend right service to our client.EbonNow is responsible for quality services also to the continual development of the system and helping to ensure it remains effective.</p>
					 <h3>questions?</h3>
					 <div class="inner-container">
					 	<div class="container">
					 		<div class="row">
					 			<div class="col-lg-6">
							    <span>
							 	<i class="fa fa-phone"></i>
							 	</span>
							 	<p>(+91) 8839273831</p>
							    </div>
							     <div class="col-lg-6">
							    <span>
							 	<i class="fa fa-envelope"></i>
							 	</span>
							 	<p>ebonxindia@gmail.com</p>
							    </div>
							 		</div>
							 	</div>
						 </div>
						 <div class="social-links">
						 	<h3>follow us</h3>
						 	<ul>
						    <li>
					 			<a href="https://www.facebook.com/Ebonx-1092609627542667/"><i class="fa fa-facebook"></i></a>
					 		</li>
					 		<li>
					 			<a href="https://twitter.com/Ebonx10"><i class="fa fa-twitter"></i></a>
					 		</li>
					 		<li>
					 			<a href="#"><i class="fa fa-google-plus"></i></a>
					 		</li>
					 		<li>
					 			<a href="https://www.instagram.com/ebonx10/?hl=en"><i class="fa fa-instagram"></i></a>
					 		</li>
					 		<li>
					 			<a href="https://www.linkedin.com/in/ebon-x-84215414b/"><i class="fa fa-linkedin"></i></a>
					 		</li>
					 		
					 	</ul>
					 </div>

				</div>
			</div>
			<div class="col-lg-6">
				
				 <div class="secondary-col">
				<!-- inside-container -->
				<div class="row">
					<div class="col-lg-4">
					     <div class="col-1">
					     	<h3>consultancy</h3>
					     	<div class="inner-container">
								<ul>
									<li>
								     <a href="career">DigitalNow</a>
									</li>
									<li>
									 <a href="business">Makreting</a>	
									</li>
									<li>
									 <a href="life">EventPlanning</a>	
									</li>
								</ul>
							</div>
					     </div>
					</div>
					<div class="col-lg-4">
						<div class="col-2">
							<h3>services</h3>
							<div class="inner-container">
								<ul>
									<li>
								     <a href="student">student</a>
									</li>
									<li>
									 <a href="professional">professional</a>	
									</li>
									<li>
									 <a href="businessman">businessman</a>	
									</li>
									<li>
									  <a href="employee">employee</a>	
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
					     <div class="col">
					     	<h3>company</h3>
					     	<div class="inner-container">
								<ul>
									<li>
								     <a href="privacy">privacy & policy</a>
									</li>
									<li>
									 <a href="partner">partner with us</a>	
									</li>
									<li>
									 <a href="refer">refer & earn</a>	
									</li>
									<li>
									 <a href="{{site.url}}/sitemap.xml">sitemap</a>	
									</li>
								</ul>
							</div>
					     </div>
					</div>
				</div>
			   </div>
			</div>
		</div>
	</div>
</div>


<!-- copyright-section -->

<div class="copy">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<p>All Rights Reserved &copy; 2017 EbonNow</p>
			</div>
		</div>
	</div>
</div>
